@import "../../styles/variables.scss";

.question-form {
  padding: 20px;
  background-color: $background;
  color: #8a8a8a;
  width: 100%;
  box-shadow: -2px 0 4px -4px rgb(128, 128, 128), 2px 0 4px -4px rgb(128, 128, 128);
}
textarea {
  border: none;
}
.form-select {
  border-bottom:1px solid #ccc;
  width: 100%;
  background-color: transparent;
}
.form-select:focus {
  background-color: #fff;
}
.custom-control {
  padding-left: 0;
}
.ml{
  margin-left: 25px;
}
.dropzone {
  background-color: transparent;
  color: #8a8a8a;
  padding: 4px;
  border-bottom: 1px solid #ccc;
}
.dropzone:focus {
  background-color: #fff;
}
.attachment-icon {
  border: 1px solid #8a8a8a;
  border-radius: 50%;
  padding: 10px 5px;
}
.icon-size{
  font-size: 34px;
}
.img-thumbnail {
  width: 80px;
  height: 80px;
}
.question-btn {
  background: #ca232a;
  background-image: -webkit-linear-gradient(45deg,purple, red);
  background-image: -o-linear-gradient(45deg,purple, red);
  background-image: linear-gradient(45deg,purple, red);
  width: 70%;
  height: 35px;
  color: #fff;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .question-form {
    height: 100vh;
  }
  .attachment-icon {
    padding: 7px 4px;
  }
  .icon-size{
    font-size: 24px;
  }
  .question-btn {
    width: 90%;
    height: 30px;
    font-size: 14px;
  }
} 
