$background: #f4fcff;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $background;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.dilemma-section {
  height: 100vh;
  width: 600px;
  margin: 0 auto;
  text-align: left;
  position: relative;
}

.header {
  background-color: #fff;
  text-align: center;
  min-height: 56px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 0px 6px 2px;
}

.header h4{
  padding-top: 10px; 
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .dilemma-section {
    width: 100%;
  }
} 